img {
    background-color: #000000;
    opacity: 0.3;
}

button {
    position: absolute;
    top: 400px;
    left: 150px;
}

@media only screen and (max-width:992px) {
    button {
        position: absolute;
        top: 120px;
        left: 100px;
    }
}