.bannerImg {
    background-color: black;

}

.fontg {
    font-family: 'Lucida Sans';
}

.fonts {
    font-family: 'Courier';
}


.hove:hover {
    background-color: rgb(196, 175, 255);
}

.avtr {
    position: absolute;
    top: 220px;
    left: 620px;

}

.downlaod {
    position: absolute;
    top: 520px;
    left: 480px;
}

.hireMe {
    position: absolute;
    top: 520px;
    right: 520px;
}

.typeWriter {
    position: absolute;
    top: 400px;
    left: 400px;
}

.typeWriter2 {
    position: absolute;
    top: 470px;
    left: 550px;
}

@media only screen and (max-width:992px) {

    .typeWriter,
    .typeWriter2 {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    .hireMe {
        position: absolute;
        top: 180px;
        right: 120px;
    }
}

@media only screen and (max-width:992px) {
    .downlaod {
        position: absolute;
        top: 120px;
        left: 100px;
    }
}